extends layout

block content
  h1= title
  p New Page #{title} welcome
  button(type="button",class="btn btn-success") Press Me
  
  div(id='target') Display
  br
  
  script.
    var client_count = 0;
    function update(){
      client_count++
      document.getElementById("target").innerHTML = `Value now ${client_count}`
    }